<?xml version="1.0"?>

<model>
  <name>cone_blue</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>Benjamin Reinken</name>
    <email>benjamin.reinken@fau.de</email>
  </author>

  <author>
    <name>Benjamin Reinken</name>
  </author>

  <description>
    A cone. Just a cone.
  </description>
</model>
